.headerBanner {
  height: 500px;
  background-image: radial-gradient(farthest-corner at -0% 100%, #7247ff 30%, #00ffbe 95%);
  background-size: 150% 150%;
  position: relative;
}

.curveContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: 0;
  width: 100%;
  /* z-index: -1; */
}

.curveContainer .curve {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 190vw;
  padding-bottom: 4.5%;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMjAiIGhlaWdodD0iMjQiIHNoYXBlLXJlbmRlcmluZz0iZ2VvbWV0cmljUHJlY2lzaW9uIj48cGF0aCBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0zMjAgMHYyNEgwVjBjNTMuMzMzIDE2IDEwNi42NjcgMjQgMTYwIDI0czEwNi42NjctOCAxNjAtMjR6Ii8+PC9zdmc+) center bottom;
  background-size: cover;
  margin-bottom: -3px;
}

.headerBanner .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.content .headerBar {
  background: #00000070;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  font-size: 12px;
}

.content .headerBar .contactItem {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content .headerBar .contactList {
  display: flex;
  flex-direction: row;
}

.header {
  width: 1168px;
  margin: 0 auto;
  margin-top: 60px;
}

.header img {
  width: 35px;
}

.titleContainer {
  padding-top: 100px;
  text-align: center;
}

.titleContainer .title {
  font-family: 'Syncopate', sans-serif;
  font-size: 50px;
  margin-bottom: 0;
  color: white;
  font-weight: bold;
}

.titleContainer .subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.mainButtonContainer {
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  text-align: center;
}

.mainButtonContainer a {
  border-radius: 52px;
  font-weight: 500;
  background: #0099ffa3;
  color: white;
  appearance: none;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
  display: inline-flex;
  flex-direction: row;
  place-items: center;
  place-content: center;
  height: 40px;
  padding: 0px 20px;
  box-shadow: 0 8px 10px 0 rgba(62, 57, 107, .13);
  border: none;
  cursor: pointer;
  outline: none;
  transition-duration: 0.2s;
  transition-property: background, color, opacity, box-shadow;
  transition: all 0.4321s;
}

.mainButtonContainer a:hover {
  background: #0d90e8;
}

@media only screen and (max-width: 600px) {
  .content .headerBar {
    flex-direction: column;
    align-items: center;
  }
  .content .headerBar .contactItem {
    margin: 0;
    margin-top: 5px;
  }
  .header {
    width: 100%;
    text-align: center;
  }
  .titleContainer .title {
    font-size: 37px;
  }
  .titleContainer .subtitle {
    font-size: 13px;
  }
}